<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvTEnGiiSuRg4R1H8e8CY0NErLJfgbOb8</string>
	<key>GCM_SENDER_ID</key>
	<string>593170725368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meetx</string>
	<key>PROJECT_ID</key>
	<string>meetx-415610</string>
	<key>STORAGE_BUCKET</key>
	<string>meetx-415610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593170725368:ios:aeb582ac167db5db0c7e0d</string>
</dict>
</plist>